son_triton.tar.gz
/data
/data/dump.rdb
/data_test
/static
/__pycache__
/*/*/*/__pycache__
__pycache__/

/my_repository/vinai_translate_en2vi/1/model_en2vi
/my_repository/vinai_translate_vi2en/1/model_vi2en
