torchvision
opencv-python-headless
scikit-learn
scikit-image
tritonclient[all]

linformer
vit_pytorch
pyyaml
pillow
#------skinlesion-------
psutil
matplotlib
pandas
ultralytics
#///////////////////////

redis
transformers
sentencepiece
